<launch>
  <!-- send urdf of a simple box to param server -->
  <param name="simple_box" textfile="$(find gazebo_worlds)/objects/simple_box.urdf" />
  <node name="spawn_simple_box" pkg="gazebo" type="spawn_model" args="-urdf -param simple_box -model simple_box_model" respawn="false" output="screen" />
</launch>

