<launch>

  <!-- start up wg world -->
  <include file="$(find gazebo_worlds)/launch/wg_world.launch"/>

  <!-- start up robot -->
  <include file="$(find pr2_gazebo)/launch/pr2.launch"/>

  <!-- load map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find gazebo_worlds)/Media/materials/textures/willowMap.png 0.1" respawn="true" />

  <!-- Tug Arms For Navigation -->
  <node name="tuckarms" pkg="pr2_tuckarm" type="tuck_arms.py" args="b" output="screen" />

  <!-- nav-stack -->
  <include file="$(find pr2_2dnav_gazebo)/2dnav-stack-amcl.launch"/>

</launch>

